:root {
  --main-bg-color: rgb(4, 13, 26);
  --main-color: rgb(255 255 255);
  --header-bg: rgb(12, 26, 39);
  --border-color: rgba(138, 145, 202, 0.493);
  --bg-color-hover: pink;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  width: 100%;
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  
  height: 75px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  border-bottom: 1px solid var(--border-color);
  z-index: 100;
}

.logo-nav{
  display: flex;
  gap: 5px;
}

svg{
  width: 25px;
  height: 25px;
  fill: var(--main-color);
}

.lista{
  display: flex;
  flex-direction: column;
  position: static;
  margin-top: 200px;
}

.lista-completa{
  background-color: green;
}

.opciones{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 75px;

  width: 100%;
  gap: 40px;
  background-color: var(--header-bg);
}

.footer-list{
  display: flex;
  flex-direction: row;
  position: fixed;
  
  background-color: var(--header-bg);
  border-top: 1px solid var(--border-color);
  height: 100px;
  width: 100%;
  bottom: 0px;
  z-index: 100;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
  position: absolute;
  width: 100%;
  top: 75px;
  z-index: 400;
  padding-bottom: 200px;
}

/* ocultar */
.ocultar{
  display: none;
}

/* buttons */
/* button{
  border: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border-radius: 5px;
}

button:hover{
  background-color: var(--bg-color-hover);
} */